---
import type { JobType } from 'types/jobs'
import { getMonthsBetweenDates } from '@utils/getMonthsBetweenDates'
import { formatDuration } from '@utils/formatDuration'
import { formatTimestamp } from '@utils/formatTimestamp'
import Text from '@components/Text.astro'
import TechnologiesList from '@components/TechnologiesList/index.astro'
import { parseTags } from '@services/tags'
import { Image } from 'astro:assets'
import Card from '@components/Card.astro'
import { getLang, useTranslations } from '@i18n/utils'

interface Props {
	job: JobType
}

const {
	job: { position, type, from, to, description, stack, logo, company }
} = Astro.props

const parsedToDate = to || Date.now()

const technologies = await parseTags({ tags: stack })

const lang = getLang(Astro.currentLocale)
const t = useTranslations(lang)
---

<Card
	as="li"
	variant="plain"
	class="flex flex-col gap-8 rounded-sm border-2 border-border bg-surface-muted px-4 py-8 dark:border-zinc-700 dark:bg-zinc-800 sm:px-8"
>
	<div class="flex w-full flex-col items-center justify-between gap-4 md:flex-row">
		<Image class="h-8" src={logo} alt={`${company}-logo`} />
		<Text>{position} ~ {type}</Text>
	</div>

	<div class="flex flex-col items-center justify-start gap-x-4 sm:flex-row">
		<Text variant="p2">
			<time
				>{formatTimestamp({ timestamp: from, language: lang })} ~ {
					to ? formatTimestamp({ timestamp: to, language: lang }) : t('job.present')
				}</time
			>
		</Text>
		<Text variant="p4" class="text-muted dark:text-zinc-400">
			({formatDuration(getMonthsBetweenDates(from, parsedToDate), lang)})
		</Text>
	</div>
	<Text>
		{description}
	</Text>
	<div class="flex items-center justify-center gap-8 sm:justify-start">
		<Text as="span" variant="p4" class="hidden font-heming font-bold sm:inline"
			>{t('job.stack')}</Text
		>

		<TechnologiesList {technologies} />
	</div>
</Card>
