---
import ExternalLinkIcon from '@components/Icons/ExternalLinkIcon.astro'
import Text from '@components/Text.astro'
import GitHubIcon from '@components/Icons/GitHubIcon.svelte'
import type { ProjectType } from 'types/projects'
import TechnologiesList from '@components/TechnologiesList/index.astro'
import { Image } from 'astro:assets'

interface Props {
	project: ProjectType
}

const {
	project: { thumbnail, title, description, tags, repository, deploy }
} = Astro.props
---

<li class="group relative flex h-full min-h-[300px] w-full">
	<div
		class="flex h-full w-full flex-col items-start justify-between border-b-2 border-zinc-300 bg-zinc-200/70 px-12 py-16 backdrop-blur-[1px] transition-opacity duration-200 hover:border-zinc-300 group-hover:opacity-100 dark:border-transparent dark:bg-zinc-800/80 dark:hover:border-zinc-700 lg:border-2 lg:opacity-0"
	>
		<div class="flex flex-col items-start gap-2">
			<Text
				size="p1"
				class="font-heming font-bold underline decoration-transparent transition hover:decoration-inherit"
			>
				<a href={deploy || repository} target="_blank">
					{title}
				</a>
			</Text>
			<Text size="p4" class="font-bold">
				{description}
			</Text>
		</div>
		<div class="flex w-full items-center justify-between">
			<TechnologiesList technologies={tags} />
			<div class="flex gap-4">
				<a
					href={repository}
					aria-label="repository-link"
					target="_blank"
					class="flex h-6 w-6 items-center justify-center rounded-full transition-transform hover:scale-110 sm:h-10 sm:w-10 sm:bg-zinc-300 sm:p-2 sm:text-zinc-800"
				>
					<GitHubIcon client:idle />
				</a>
				{
					deploy && (
						<a
							href={deploy}
							aria-label="deploy-link"
							target="_blank"
							class="flex h-6 w-6 items-center justify-center rounded-full transition-transform hover:scale-110 sm:h-10 sm:w-10 sm:bg-zinc-300 sm:p-2 sm:text-zinc-800"
						>
							<ExternalLinkIcon />
						</a>
					)
				}
			</div>
		</div>
	</div>
	<Image src={thumbnail} alt={title} class="absolute -z-10 h-full w-full object-cover" />
</li>
<style>
	li {
		background-position: center;
		background-size: cover;
	}
</style>
