---
import ExternalLinkIcon from '@components/Icons/ExternalLinkIcon.astro'
import Text from '@components/Text.astro'
import GitHubIcon from '@components/Icons/GitHubIcon.svelte'
import type { ProjectType } from 'types/projects'
import TechnologiesList from '@components/TechnologiesList/index.astro'
import { Image } from 'astro:assets'
import ActionLink from '@components/ActionLink.astro'
import Card from '@components/Card.astro'
import IconLink from '@components/IconLink.astro'
import Heading from '@components/Heading.astro'

interface Props {
	project: ProjectType
}

const {
	project: { thumbnail, title, description, tags, repository, deploy }
} = Astro.props
---

<li class="group relative isolate flex h-full min-h-[300px] w-full overflow-hidden">
	<Card
		class="relative z-10 flex h-full w-full flex-col items-start justify-between border-b-2 border-border px-12 py-16 transition-opacity duration-200 hover:border-border group-focus-within:opacity-100 group-hover:opacity-100 dark:border-transparent dark:hover:border-zinc-700 lg:border-2 lg:opacity-0"
	>
		<div class="flex flex-col items-start gap-2">
			<Heading
				as="h3"
				variant="eyebrow"
				class="font-heming font-bold underline decoration-transparent transition hover:decoration-inherit"
			>
				<ActionLink href={deploy || repository}>
					{title}
				</ActionLink>
			</Heading>
			<Text variant="p4" class="font-bold">
				{description}
			</Text>
		</div>
		<div class="flex w-full items-center justify-between">
			<TechnologiesList technologies={tags} />
			<div class="flex gap-4">
				<IconLink
					href={repository}
					ariaLabel={`${title} repository`}
					class="h-6 w-6 sm:h-10 sm:w-10 sm:bg-surface-muted sm:p-2 sm:text-foreground"
				>
					<GitHubIcon client:idle />
				</IconLink>
				{
					deploy && (
						<IconLink
							href={deploy}
							ariaLabel={`${title} live demo`}
							class="h-6 w-6 sm:h-10 sm:w-10 sm:bg-surface-muted sm:p-2 sm:text-foreground"
						>
							<ExternalLinkIcon />
						</IconLink>
					)
				}
			</div>
		</div>
	</Card>
	<Image src={thumbnail} alt={title} class="absolute inset-0 z-0 h-full w-full object-cover" />
</li>
<style>
	li {
		background-position: center;
		background-size: cover;
	}
</style>
