---
import Text from "@components/Text.astro";
import { SECTIONS } from "@constants/index";
import type { SectionType } from "types/index";
import NavBar from "@components/Header/NavBar.svelte";
import { getNavSectionId } from "@utils/getNavSectionId";
import ThemeSwitch from "./ThemeSwitch.svelte";

const [presentationSection, ...otherSections] = SECTIONS;

const parseSection = (section: SectionType) =>
  section.charAt(0).toUpperCase() + section.slice(1);
---

<header
  class="fixed z-10 flex items-center justify-between w-full h-20 border-b-2 backdrop-blur-md bg-zinc-200 border-zinc-200 dark:bg-zinc-900/80 bg-opacity-80 dark:bg-opacity-40 dark:border-zinc-800 font-heming"
>
  <div
    class="relative flex items-center justify-between w-full h-full p-layout"
  >
    <Text size="p3">
      <a
        href={`/#${presentationSection}`}
        class="underline transition hover:text-orange-400 decoration-transparent hover:decoration-inherit"
        id={getNavSectionId(presentationSection)}
      >
        Baltazar Andersson
      </a>
    </Text>
    <nav class="flex gap-8">
      <Text size="p3">{`<`}</Text>
      {
        otherSections.map((section) => (
          <Text size="p3">
            <a
              href={`/#${section}`}
              class="underline transition hover:text-orange-400 decoration-transparent hover:decoration-inherit"
              id={getNavSectionId(section)}
            >
              {parseSection(section)}
            </a>
          </Text>
        ))
      }
      <ThemeSwitch client:load />
      <Text size="p3">{`>`}</Text>
    </nav>
    <NavBar client:only />
  </div>
</header>
